{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2 menu-title">신청내역 - 상세</h5>
    <div class="my-3 frm-view">
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">신청자</span></div>
            <div class="col-6 col-md-2">{{user_app.ds_app_name}}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">연락처</span></div>
            <div class="col-6 col-md-2">{{user_app.ds_app_tel}}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">개소명</span></div>
            <div class="col-6 col-md-2">{{user_app.ds_app_title}}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">설치장소</span></div>
            <div class="col-6 col-md-10">{{ user_app.ds_addr }}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">가로(px)</span></div>
            <div class="col-3 col-md-1">{{ user_app.no_width }}</div>
            <div class="col-md-1"><span class="frm-label">세로(px)</span></div>
            <div class="col-3 col-md-1">{{ user_app.no_height }}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">신청문구</span></div>
            <div class="col-6 col-md-4">{{ user_app.ds_text }}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">신청사유</span></div>
            <div class="col-6 col-md-10">{{ user_app.ds_reason }}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">출력시작</span></div>
            <div class="col-3 col-md-1">{{ user_app.dt_start}}</div>
            <div class="col-md-1"><span class="frm-label">출력종료</span></div>
            <div  class="col-3 col-md-1">{{ user_app.dt_end }}</div>
        </div>
        <div class="mb-3 btn-center">
            <a href="{{ url_for('user_app._list') }}" class="btn btn-secondary">목록</a>
        </div>
    </div>
</div>
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}