{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2 menu-title">신청내역 - 상세</h5>
    <a href="javascript:void(0)" data-uri="{{ url_for('app._del', seq_app=app.seq_app) }}" class="delete btn btn-danger" style="position: relative; margin-top: -60px; float: right;">삭제</a>
    <div class="frm-view">
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">신청자</span></div>
            <div class="col-6 col-md-4">{{app.ds_app_name}}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">연락처</span></div>
            <div class="col-6 col-md-4">{{app.ds_app_tel}}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">개소명</span></div>
            <div class="col-6 col-md-4">{{app.ds_app_title}}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">설치장소</span></div>
            <div class="col-6 col-md-4">{{ elet.ds_addr }}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">가로(px)</span></div>
            <div class="col-3 col-md-1">{{ elet.no_width }}</div>
            <div class="col-md-1"><span class="frm-label">세로(px)</span></div>
            <div class="col-3 col-md-1">{{ elet.no_height }}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">신청문구</span></div>
            <div class="col-6 col-md-4">{{ app.ds_text }}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">신청사유</span></div>
            <div class="col-6 col-md-4">{{ app.ds_reason }}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">출력시작</span></div>
            <div class="col-3 col-md-1">{{ app.dt_start}}</div>
            <div class="col-md-1"><span class="frm-label">출력종료</span></div>
            <div  class="col-3 col-md-1">{{ app.dt_end }}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">신청상태</span></div>
            <div class="col-6 col-md-4">{{ app.ty_stat }}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">변경사유</span></div>
            <div class="col-6 col-md-4">{{ app.ds_bigo}}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">적용이미지</span></div>
            <div class="col-6 col-md-4"><div style="width:100%; height:100%;"><image class="itemimage" src="{{ url_for('app.view_file', filename=file_name) }}"></image></div></div>
        </div>
        <div class="mb-3 btn-center">
            <a href="{{ url_for('app._list') }}" class="btn btn-secondary">목록</a>
        </div>
    </div>
</div>
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}