{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2 menu-title">전광판관리 - 상세</h5>
    <a href="javascript:void(0)" data-uri="{{ url_for('eld._del', seq_elet=eld.seq_elet) }}" class="delete btn btn-danger" style="position: relative; margin-top: -60px; float: right;">삭제</a>
    <div class="frm-view">
        <div class="mb-3 row frm-row">
            <div class="col-md-1">
                <span class="frm-label">구분</span>
            </div>
            <div class="col-6 col-md-4">{{ eld.ty_gubun }}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1">
                <span class="frm-label">셋탑ID</span>
            </div>
            <div class="col-6 col-md-4">{{ eld.id_settop }}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1">
                <span class="frm-label">개소명</span>
            </div>
            <div class="col-6 col-md-4">{{ eld.ds_title }}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1">
                <span class="frm-label">설치장소</span>
            </div>
            <div class="col-6 col-md-4">{{ eld.ds_addr }}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">가로(px)</span></div>
            <div class="col-3 col-md-1">{{ eld.no_width}}</div>
            <div class="col-md-1"><span class="frm-label">세로(px)</span></div>
            <div class="col-3 col-md-1">{{ eld.no_height}}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">비고</span></div>
            <div class="col-11 col-md-11">{{ eld.ds_bigo }}</div>
        </div>
        <div class="mb-3 btn-center">
            <a href="{{ url_for('eld._list') }}" class="btn btn-secondary">목록</a>
            <a href="{{ url_for('eld.mod', seq_elet=eld.seq_elet) }}" class="btn btn-primary">수정</a>
        </div>
    </div>
</div>
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}