{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2 menu-title">공지사항</h5>
    <a href="javascript:void(0)" data-uri="{{ url_for('notice._del', seq_noti=notice.seq_noti) }}" class="delete btn btn-danger" style="position: relative; margin-top: -60px; float: right;">삭제</a>
    <div class="frm-view">
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">제목</span></div>
            <div class="col-6 col-md-10">{{ notice.ds_subject}}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">내용</span></div>
            <div class="col-6 col-md-10">{{ notice.ds_content|safe}}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">첨부파일</span></div>
            <div class="col-6 col-md-10">
                {% if file_list %}
                {% for file in file_list %}
                <div><a href="{{ url_for('notice.download', seq_file=file.seq_file) }}">{{file.ds_orifile}}</a></div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">등록자</span></div>
            <div class="col-6 col-md-10">{{ notice.ds_name}}</div>
        </div>
        <div class="mb-3 row frm-row">
            <div class="col-md-1"><span class="frm-label">등록일</span></div>
            <div class="col-6 col-md-10">{{notice.dt_create|datetime}}</div>
        </div>
        <div class="mb-3 btn-center">
            <a href="{{ url_for('notice._list') }}" class="btn btn-secondary">목록</a>
            <a href="{{ url_for('notice.mod', seq_noti=notice.seq_noti) }}" class="btn btn-primary">수정</a>
        </div>
    </div>
</div>
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}