.f-right{float:right !important;}
.page-link > .sr-only{display:none !important;}
.txt-center{text-align:center;}
.w-25rem{width:25rem;}
/*.note-editable{background:#000000 !important;}*/
.th-num{width:50px !important;}
.m-top5px{margin-top:5px !important;}
.m-right5px{margin-right:5px !important;}
.f-7rem{flex:0 7rem !important;}