<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/summernote-lite.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.ko.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/summernote-lite.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/summernote-ko-KR.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/html2canvas.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <title>제천(전광판)주민참여프로그램</title>
</head>
<body>
<!-- 네비게이션바 -->
{% include "navbar.html" %}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- 자바스크립트 Start -->
{% block script %}
<!-- Bootstrap JS -->
{% endblock %}
<!-- 자바스크립트 End -->
</body>
</html>