<nav class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
    <div class="container-fluid">
        <a class="navbar-brand btn-home" href="{{ url_for('main.index') }}">홈</a>
        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse offcanvas-collapse" id="top-menu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if session['no_level'] > 5 %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.index') }}">대시보드</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('eld._list') }}">전광판관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('app._list') }}">신청관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('sta._list') }}">통계</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('mem._list') }}">회원관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('notice._list') }}">공지사항</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_info.info') }}">정보수정</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('notice._list') }}">공지사항</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_app.ins') }}">서비스신청</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_app._list') }}">신청내역</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_info.info') }}">정보수정</a>
                </li>
                {% endif %}
                {% if g.user %}
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">로그아웃</a>
                </li>
                {% else %}
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">로그인</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- 자바스크립트 Start -->
{% block script %}
<script>
(function () {
    document.querySelector('#navbarSideCollapse').addEventListener('click', function () {
        document.querySelector('.offcanvas-collapse').classList.toggle('open')
    })
})()
</script>
{% endblock %}
<!-- 자바스크립트 End -->